/* 
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
.project-card
{
    width: 90%;
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 0 0 40px #1f1f1f;
}
.project-card::after
{
    content: "";
    background-color: #1f1f1f9a;
    position:absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
}
.project-card::before
{
    content:"";
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
    transform:scaleX(0);
    transform-origin: left;
    transition: transform 0.4s;
    z-index: 1;
}
.project-card:hover::before
{
    transform: scaleX(1);
    cursor: pointer;
}
.project-number
{
    position:absolute;
    font-size: 200px;
    font-weight: 600;
    color: white;
    z-index: 1;
    opacity:0;
    transition: 0.4s;
}
.project-card:hover .project-number
{
    opacity: 1;
    transform: scale(1.1);
}
.project-number-right
{
    right: -40px;
    top: -45px;
}
.project-number-left
{
    left: -40px;
    top: -45px;
}
.project-content
{
    position: absolute;
    bottom: 20%;
    padding: 2em;
    display:flex;
    flex-direction: column;
    color: white;
    gap: 1em;
    z-index: 1;
    transition: transform 0.4s;
}
.project-content-left
{
    left: 10%;
}
.project-content-right
{
    right: 10%;
}
.project-card:hover .project-content
{
    transform: scale(1.1);
}
.project-skill-container
{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.project-heading
{
    font-size:50px;
    font-weight:bold;
    line-height:3rem;
}
.project-about
{
    width: 70%;
    font-size: 16px;
    font-style: italics;
}
.project-skill
{
    width: 40px;
}
.mask:hover{
  box-shadow: 0 -20px 20px rgba(100, 100, 100, 0.05), inset 0 -20px 20px rgba(100, 100, 100, 0.05), 0 20px 20px rgba(100, 100, 100, 0.5);
  transform: scale(1.05);
}